.header {
    padding: 0px 150px 0px 0px;
    background: linear-gradient(to right, #185ab2 , #3b99ea); /* Standard syntax */
    height: 200px; 
    box-shadow: 2px 2px 14px black;
    text-align: right;
}
h1 {
    
    font-size: 3em;
    color:white;
}
p {
    color: white;
    font-family: Myriad Pro, Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}
a {
    color: white;
    text-decoration: underline;
}