
.spacer {
  flex: 1 1 auto;
}
h1 {
    font-size: 1.3em;
}
@media only screen and (max-width: 768px) {
    md-list {
        width: 180px;
    }   
}
@media only screen and (min-width: 768px) and (max-width: 1200px){
    md-list {
        width: 220px;
    }   
}

@media only screen and (min-width: 1200px){
    md-list {
        width: 300px;
    }   
}