input[type="file"] {
    display: none;
}
h2{
  color: white;
}
.em-container{
  margin: auto;
  text-align: center;
  width: 90%;
}
.selected {
  @keyframes turnOn {
    from {opacity: 1;}
    to {opacity: 0.5;}
}
  animation-name: turnOn;
  animation-duration: 0.8s;
  border-style: solid;
  border-color: #c2185b;
  border-width: 0px 0px 4px 0px;
  opacity: 0.5;
}

.image-preview {
   @keyframes turnOnPreview {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  animation-name: turnOnPreview;
  animation-duration: 1s;
}

.image-container {
  background-color: #4d4d4d;
}
.card {
  max-width: 80%;
}
.card-avatar {
  width: 70px;
  height: 70px;
  background-size: cover;
}

span.circle {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  border-left: 8px;
  display: inline-block 
}

#header {
  background-color: black;
  padding: 10px, 10px;
}
