<br>
<br>
<div class="em-container">
  <md-card class="card-intro">
    <md-card-title>
      Computer Vision API
    </md-card-title>
    <md-card-subtitle>
      Extract rich information from images to categorize and process visual data – and machine-assisted moderation of images to
      help curate your services.
    </md-card-subtitle>
    <img md-card-image src="../../assets/images/visio.jpg">
    <md-card-actions>
      <button md-button (click)="this.microsoftLink()"> <md-icon>dashboard</md-icon>  MICROSOFT</button>
      <button md-button (click)="this.docLink()"> <md-icon>build</md-icon> DOC</button>
    </md-card-actions>
  </md-card>
  <br><br>
  <md-grid-list cols="10" rowHeight="120px">
    <md-grid-tile colspan="1" rowspan="1" *ngFor="let item of this.images">
      <img [ngClass]="{'selected': item.selected}" src="{{item.pathMin}}" (click)="this.clickedImage(this.images.indexOf(item))">
    </md-grid-tile>
    <md-grid-tile colspan="5" rowspan="1">
      <button md-raised-button (click)="sendImage()">Send this image</button>
      <p style="margin-left:20px; margin-right:20px;">or</p>
      <md-input-container>
        <input mdInput #imageUrl placeholder="Insert an url" value="">
      </md-input-container>
      <button md-raised-button style="margin-left: 10px;" (click)="this.clickedUrl()">Go</button>
      <md-spinner *ngIf="this.loading" style="width:30px; padding-left: 20px;"></md-spinner>
    </md-grid-tile>
    <md-grid-tile colspan="5" rowspan="5" class="image-container">
      <p *ngIf="this.selectedImage == undefined">
        <md-icon style="padding-right: 10px;">wallpaper</md-icon> Select an image... </p>
      <img *ngIf="this.selectedImage != undefined" class="image-preview" src="{{this.selectedImage.path}}">
    </md-grid-tile>
    <md-grid-tile colspan="5" rowspan="8" *ngIf="this.visionService.results !== undefined">
      <md-card class="card" layout-align="center center">
        <md-card-header>
          <div md-card-avatar class="card-avatar" [ngStyle]="{'background-image': 'url(' + this.selectedImage.pathMin + ')'}"></div>
          <md-card-title style="font-size: 1.3em;">Details fetched</md-card-title>
          <md-card-subtitle style="font-size: 1em;">Vision API</md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <md-list *ngFor="let item of this.visionService.results.categories">
            <md-list-item>
              <h3 md-subheader>Description</h3>
              <p> {{item.name}} <small>({{item.score}})</small></p>
            </md-list-item>
            <md-list-item *ngIf="item.detail !== undefined">
              <h3 md-subheader>Celebrities</h3>
              <p *ngFor="let item2 of item.detail.celebrities"> {{item2.name}} </p>
              <p *ngIf="item.detail.celebrities.length === 0"> - - </p>
            </md-list-item>
            <md-list-item *ngIf="item.detail !== undefined">
              <h3 md-subheader>Landmarks</h3>
              <p> {{item.detail.landmarks === undefined ?'- -':item.detail.landmarks}} </p>
            </md-list-item>
          </md-list>
          <br>
          <md-divider></md-divider>
          <h3 md-subheader>Tags</h3>
          <md-chip-list>
            <md-chip *ngFor="let item of this.visionService.results.tags">{{item.name}}</md-chip>
          </md-chip-list>
          <br>
          <md-divider></md-divider>
          <h3 md-subheader>Textual description</h3>
          <p *ngFor="let item of this.visionService.results.description.captions">{{item.text}} <small>({{item.confidence}})</small></p>
          <md-divider></md-divider>
          <br>
          <h3 md-subheader> Detected colors </h3>
          <p>Dominant color (foreground): {{this.visionService.results.color.dominantColorForeground}} <span class="circle"
              [ngStyle]="{'background-color': this.visionService.results.color.dominantColorForeground}"></span></p>
          <p>Dominant color (background): {{this.visionService.results.color.dominantColorBackground}} <span class="circle"
              [ngStyle]="{'background-color': this.visionService.results.color.dominantColorBackground}"></span></p>
          <p *ngFor="let item of this.visionService.results.color.dominantColors">Others: {{item}} <span class="circle" [ngStyle]="{'background-color': item}"></span></p>
          <p>Accent color: {{this.visionService.results.color.accentColor}} <span class="circle" [ngStyle]="{'background-color': '#' + this.visionService.results.color.accentColor}"></span></p>
          <p>BW? {{this.visionService.results.color.isBWImg}}</p>
          <br>
        </md-card-content>
      </md-card>
    </md-grid-tile>
  </md-grid-list>
  <br>
</div>